# dependencies
node_modules/

# expo
.expo/
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local

# macOS
.DS_Store

# windows
Thumbs.db

# vscode
.vscode/

# typescript
*.tsbuildinfo

# metro
.metro-health-check*

# coverage
coverage/